
.place__image {
    width: inherit;
    grid-area: img;
}

@media screen and (max-width: 870px) {
    .place__image {
        max-width: 340px;
        max-height: auto;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
    }
}