
.place__image {
    width: inherit;
    grid-area: img;
}

@media screen and (max-width: 870px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}

@media screen and (max-width: 670px) {
    .place__image {
        max-width: inherit;
        max-height: inherit;
    }
}