
.place {
    width: inherit;
    grid-template-columns: min-content 1fr;
    display: grid;
    grid-template-areas: 
    "title url"
    "img para";
    margin:  0 auto 80px;   
    column-gap: 40px;
}

.place:last-child {
    margin-bottom: 92px;
}

@media screen and (max-width: 740px) {
    .place {
        grid-template-areas: "title"
                             "url"
                             "img"
                             "para";
        row-gap: 32px;
        grid-template-columns: auto;               
    }
}